<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="btventures.ledger">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".StartLedger"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".TableActivity" />
        <activity android:name=".TransactionEntry" />
        <activity android:name=".TransactionConfirmActivity" />
        <activity android:name=".TransactionAfterConfirmActivity" />
        <activity android:name=".ModifyCustomer" />
        <activity android:name=".AgentFilterCritreria" />
        <activity android:name=".AdminHomeActivity" />
        <activity android:name=".CustomerReportCriteria" />
        <activity android:name=".CommonFilterCritreria" />
        <activity android:name=".SimpleScannerActivity" />
        <activity android:name=".PendingReportCriteria" />

        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".RecentTransactions"></activity>
    </application>

</manifest>